%br
  - if @workout
    = react_component('Dashboard', {currentDay: @current_day, videoUrl: @video_url, motivation: @motivation, workout_min: @workout_min, workout_ozf: @workout_ozf, workout: @workout, workout_moves: @workout.workout_moves})
  - else
    .center
      = fa_icon 'bed 5x'
      %h3 Today Is a Rest Day.
      %p.lead Remember To Eat Well!

 
