%br
  = react_component('OzoneChallenge', {workout: @workout, workout_moves: @workout.workout_moves, videoUrl: @video_url, motivation: @motivation, workout_min: @workout_min, workout_ozf: @workout_ozf})