.div.center-align
  = image_tag('ozone-fit-website-logo', class: 'responsive-img')
  .row
    .card.col.s12.m8.offset-m2
      .card-content.transparent
        .video-container
          %iframe{:allowfullscreen => "", :frameborder => "0",:src => "https://www.youtube.com/embed/aCewnjtoKGQ?autoplay=1"}
      .card-action
        = link_to 'Login', new_user_session_path, class: 'btn waves-effect ozone-button', method: :get
        = link_to 'Register', register_path, class: 'btn waves-effect red', method: :get
        %br
        %br
        %button.btn.waves-effect.modal-trigger.ozone-button.hide-on-small-only{data: {target: "lead_modal"}} Get More Info

= render(partial: 'lead_modal')
