@import "vars";

html {
  margin: 0 10px 0px 10px;
  background: rgba(255,255,255,1);
  webkit-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  min-height: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(0,157,220,1) 89%, rgba(0,157,220,1) 99%, rgba(0,157,220,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(14%, rgba(255,255,255,1)), color-stop(89%, rgba(0,157,220,1)), color-stop(99%, rgba(0,157,220,1)), color-stop(99%, rgba(0,157,220,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(0,157,220,1) 89%, rgba(0,157,220,1) 99%, rgba(0,157,220,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(0,157,220,1) 89%, rgba(0,157,220,1) 99%, rgba(0,157,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(0,157,220,1) 89%, rgba(0,157,220,1) 99%, rgba(0,157,220,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(0,157,220,1) 89%, rgba(0,157,220,1) 99%, rgba(0,157,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009ddc', GradientType=0 );
}

.ozone-text {
  color: $ozone-blue;
}

.ozone-background {
  background-color: $ozone-blue;
}

.ozone-button {
  background-color: $ozone-blue;
  color: white !important;
}

.alert {
  width: 100% !important;
  margin: 0 auto;
  border: none !important;
  border-radius: 0px !important;
  text-align: center;
  font-size: 18px;
}

.alert-info {
  background-color: $ozone-blue;
  color: black;
}

.alert-notice {
  background-color: $ozone-blue;
  color: black;
}

.alert-warning, .alert-error {
  background-color: darkred !important;
  color: white;
}

.tabs .indicator {
  background-color: black;
}

.avatar {
  margin-top: 10px;
  width: 150px;
}

.input-field input:focus {
  border-bottom: 1px solid white !important;
}

.center-container {
  margin: 0 auto;
}

/* label color */
.input-field label {
  color: black;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: black;
}

.input-field input[type=email]:focus + label {
  color: black;
}

.input-field input[type=password]:focus + label {
  color: black;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.small-right {
  margin-right: 5px !important;
}

.timer-buttons {
  height: 125px;
}

.workout-music-button {
  margin-bottom: 10px;
}

.top-bottom-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.workout-moves {
  margin-top: 0px !important;
}

.pointer {
  cursor: pointer;
}

.leaderboard-container {
  height: 150px;
}

.moves-container {
  max-height: 305px;
  overflow: scroll;
}

.leaderboard-avatar {
  width: 100px;
  height: 100px;
}