<div class="container">
   <a class="front left">
     <%= image_tag("front_img.png", :alt => "VIPclub", :style => "height:300px; vertical-align:middle") %>
   </a>
   <h4 class="white-text right">
     <strong>
       Dance Parties are Back!
     </strong>
   </h4>
   <p class="grey-text">Come enjoy a taste of our dance parties on Saturday nights! With several dance floors, bars, and DJs, we offer an ideal environment for college students to enjoy themselves! Follow the link below to check out a sample of what to expect at our dance parties!</p>
 <div class="row">
 </div>
</div>

.container
  .card.grey.black-text
    %a.front.left
      = image_tag("front_img.png", :alt => "VIPclub", :style => "height:300px; vertical-align:middle")
    %h4.white-text.right
      %strong Dance Parties are Back!
  %div
    %p.grey-text
      Come enjoy a taste of our dance parties on Saturday nights! With several dance floors, bars, and DJs, we offer an ideal environment for college students to enjoy themselves! Follow the link below to check out a sample of what to expect at our dance parties!
  .row







